$card-bg: white;
$card-border-radius: 2px;

$card-field-direction: ltr;
$card-field-height: 44px;
$card-field-font-size: 16px;
$card-field-width: 100%;
$card-field-display: block;
$card-field-margin-bottom: 10px;
$card-field-z-index: 1;
$card-field-position: relative;
$card-field-moz-box-sizing: border-box;
$card-field-webkit-box-sizing: border-box;
$card-fieldbox-sizing: border-box;